<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarProducto( input.value )" type="text" class="form-control" placeholder="Buscar producto...">

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button [routerLink]="['/producto','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                  <i class="fa fa-plus"></i> 
                  Crear Producto
                </button>
                </div>

                <h3 class="card-title">Productos registrados ( <small> {{ totalRegistros }} </small> )</h3>

                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Compra</th>
                            <th>Venta</th>
                            <th>Tipo producto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">
                            <!-- <td>
                              <img [src]="producto.img | imagen:'producto'" class="img-50 img-circle">
                          </td> -->
                            <td>
                                {{ producto.nombre }}
                            </td>
                            <td>
                                {{ producto.precioCompra }}
                            </td>
                            <td>
                                {{ producto.precioVenta }}
                            </td>
                            <td>
                                {{ producto.tipoProducto.nombre }}
                            </td>
                            <td>
                                <button [routerLink]="['/producto', producto._id ]" class="btn btn-sm btn-primary ">
                              <i class="fa fa-edit"></i>
                            </button>

                                <button (click)="borrarProducto( producto )" class="btn btn-danger btn-sm">
                              <i class="fa fa-trash-o"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                    Anteriores
                  </button>

                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                      Siguientes
                  </button>
            </div>
        </div>
    </div>
</div>